.header{
    width: 100%; 
    position: relative;
    width: 100vw;
}
.videoTag{
    height: 500px;
    object-fit: cover;
    position: fixed;
    width: 100%;
    z-index: 0;
}
.navbar .container-fluid{
    margin-left: 30%;
}

.navbar .container{
    margin-left: 3%;
}

